@font-face {
    font-family: ha;
    src: url(/Gilroy-Semibold.otf);
}

*{
    margin: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.cursor{
    background-color: aliceblue;
    height: 30px;
    width: 30px;
    position: absolute;
    border-radius: 50px;
    transition: scale ease 0.3s;
}

h1{
    color: aliceblue;
    font-size: 200px;
    font-weight: 900;
    font-family: ha;
    mix-blend-mode: difference;
}

